@model List<HighLandCoffeeWebsite.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- banner section start -->
<div class="banner_section layout_padding">
    <div class="container">
        <div id="banner_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="banner_img"><img src="~/Content/img/banner-img.png"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner_taital_main">
                                <h1 class="banner_taital">coffee</h1>
                                <h5 class="tasty_text">Highland Coffee</h5>
                                <p class="banner_text">more-or-less normal distribution of letters, as opposed to using </p>
                                <div class="btn_main">
                                    <div class="about_bt"><a href="#">About Us</a></div>
                                    <div class="callnow_bt active"><a href="#">Call Now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="banner_img"><img src="~/Content/img/banner-img.png"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner_taital_main">
                                <h1 class="banner_taital">coffee</h1>
                                <h5 class="tasty_text">Tasty Of DozeCafe</h5>
                                <p class="banner_text">more-or-less normal distribution of letters, as opposed to using </p>
                                <div class="btn_main">
                                    <div class="about_bt"><a href="#">About Us</a></div>
                                    <div class="callnow_bt active"><a href="#">Call Now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="banner_img"><img src="~/Content/img/banner-img.png"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner_taital_main">
                                <h1 class="banner_taital">coffee</h1>
                                <h5 class="tasty_text">Tasty Of DozeCafe</h5>
                                <p class="banner_text">more-or-less normal distribution of letters, as opposed to using </p>
                                <div class="btn_main">
                                    <div class="about_bt"><a href="#">About Us</a></div>
                                    <div class="callnow_bt active"><a href="#">Call Now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- banner section end -->

<link rel="stylesheet" href="~/Content/cssFormat.css" />
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Drinks</h1>
        <div class="row g-4">
            <div class="col-lg-12">

                <div class="col-lg-9">
                    <div class="row g-4 justify-content-center">
                        @foreach (var item in Model)
                        {

                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <div class="rounded position-relative fruite-item">
                                    <div class="fruite-img">
                                        <img src="@Url.Content("~/img/imgProduct/"+item.ImageUrl)" class="img-fluid w-100 rounded-top" alt="">
                                    </div>
                                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.Name</div>
                                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                        <h4>@item.Category.Name</h4>
                                        <p>@item.Description</p>
                                        <div class="d-flex justify-content-between flex-lg-wrap">
                                            <p class="text-dark fs-5 fw-bold mb-0"> @item.Price /ly</p>
                                            <a href="@Url.Action("ProductDetails", "Product", new {@id = item.ProductId})" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="me-2 text-primary"></i> Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

