@model IEnumerable<HighLandCoffeeWebsite.Models.ShoppingCart>
@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


<!-- Customized Bootstrap Stylesheet -->
<link rel="stylesheet" href="~/Content/bootstrap.min2.css" />
<link rel="stylesheet" href="~/Content/cssFormat.css" />

<!-- Cart Page Start -->
<div class="container py-5">
    <div class="table-responsive">
        @if (ViewData["NoProduct"] != null)
        {
            <h3>@ViewData["NoProduct"]</h3>
        }
        else
        {
            <form method="post" action="~/Order/Index">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Products</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">
                                    <div class="d-flex align-items-center">
                                        <img src="@Url.Content("~/img/imgProduct/"+item.Product.ImageUrl)" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                    </div>
                                </th>
                                <td>
                                    <p class="mb-0 mt-4">@item.Product.Name</p>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4">@item.Product.Price</p>
                                </td>
                                <td>
                                    <div class="input-group quantity mt-4" style="width: 100px;">
                                        <input type="text" class="form-control form-control-sm text-center border-0" value=" @Html.DisplayFor(modelItem => item.Quantity)">
                                    </div>
                                </td>
                                <td>
                                    <a href="@Url.Action("Deleted", "Cart", new {@prodID = item.ProductId} )" class="btn btn-md rounded-circle bg-light border mt-4">
                                        <i class="fa fa-times text-danger"></i>
                                    </a>
                                </td>

                            </tr>
                        }
                    </tbody>

                </table>
                <div class="d-grid gap-2 col-6 mx-auto p-3">
                    <a href="@Url.Action("CheckOut", "Cart")" class="btn btn-danger justify-content-lg-between" type="submit">CHECK OUT</a>

                </div>

            </form>
        }
    </div>
    <!-- Cart Page End -->

   

